VITE_SUPABASE_URL=https://ygayvrnujcymscyoecbb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlnYXl2cm51amN5bXNjeW9lY2JiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAyMDUxMDMsImV4cCI6MjA4NTc4MTEwM30.oVX2h8R0s97ebWZmtqN3Zh3V3jQ3WUsky65JI29IfeE
VITE_CONSUMER_APP_URL=https://app.example.com
VITE_ENABLE_DEMO_MODE=false
VITE_FORCE_AUTH_SCREEN_ON_DEV_BOOT=false
